/* .container-contactme {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
} */

.title {
    text-align: center;
    height: 65px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* .contact {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
   
} */

.left-box {
    margin-top: 7%;
    margin-bottom: 5%;
    padding-left: 13%;
}

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;

}

.form-control {
    font-style: oblique;
}


.form-label {
    margin: 10px;
    font-size: 1.2em;
     color: rgb(61, 51, 51);
}

.Message {
    display: flex;
    overflow: hidden;
    height: 150px;
}

.btn-primary {
    margin-top: 50px;
}

.box {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.box .inner {
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    background-color: rgb(245, 233, 214);
    color: black;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
    background-color: rgb(201, 148, 2);
    color: rgb(70, 43, 2);
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

@media screen and (max-width: 991px) {

    .right-box {
        padding-top: 60px;
       
    }
    .left-box {
        padding-top: 60px;
        padding-right: 13%;
        padding-left: 13%;
    }
}
@media screen and (max-width: 414px) {

    .right-box {
        padding-top: 60px;
    }
}

@media screen and (max-width: 390px) {

    .btn-primary {
        margin-top: 40px;
    }

    .right-box {
        padding-top: 70px;
    }

    .box .inner {
        width: 200px;
        height: 150px;
        line-height: 200px;
        font-size: 4em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        animation: marquee 5s linear infinite;
        align-items: center;
    }
}


