.container-contact {

    height: 670px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

}

.contact {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.left-box {
    margin-top: 7%;
}

.right-box {

    display: flex;
    justify-content: center;
    align-items: center;

}

.form-control {
    font-style: oblique;
}


.form-label {
    margin: 10px;
}

.Message {
    display: flex;
    overflow: hidden;
    height: 150px;
}

.btn-primary {
    margin-top: 50px;
}

.box {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.box .inner {
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    background-color: rgb(245, 233, 214);
    color: black;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
    background-color: rgb(201, 148, 2);
    color: rgb(70, 43, 2);
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

@media screen and (max-width: 414px) {
    .container-contact {
        height: 670px;
     
    }
    .right-box {
        padding-top: 60px;
    }
}

@media screen and (max-width: 390px) {
   
    .container-contact {
       /* align-items: center; */
        height: 630px;
    }
    .btn-primary {
        margin-top: 40px;
    }

    .right-box {
        padding-top: 70px;
    }

    .box .inner {
        width: 200px;
        height: 150px;
        line-height: 200px;
        font-size: 4em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        animation: marquee 5s linear infinite;
        align-items: center;
    }
}

@media screen and (max-width: 375px) {

    .container-contact {
        height: 470px;
    }

    .btn-primary {
        margin-top: 20px;
    }
    .left-box {
        margin-top: 0px;
    }

    .right-box {
        padding-top: 20px;
    }

    .box .inner {
        width: 200px;
        height: 70px;
        line-height: 200px;
        font-size: 3em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        animation: marquee 5s linear infinite;
        align-items: center;
    }
};