.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedIn {
    max-width: 45px;
    margin-bottom: 20px;

}

.github {
    margin-right: 7px;
    max-width: 45px;
    margin-bottom: 20px;
}