.container-resume {
    text-align: center;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    text-align: center;
    height: 65px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.titles {
    margin: 40px;
}

.resume-link {
    padding-top: 10px;
    font-style: oblique;

}

p {
    font-size: 1.2em;
    color: rgb(61, 51, 51);
}

@media screen and (max-width: 390px) {
    .container-resume {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    .container-resume {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;

    }
}