 .title {
     text-align: center;
     height: 65px;
     margin-top: 50px;
     margin-bottom: 20px;
     color: blue;
 }

 .about-me {
     border-left: 1px solid;
     border-top-color: black;
 }

 .about {
     width: 70%;
     margin-right: auto;
     margin-left: auto;
 }

 .responsive {
     display: flex;
     max-width: 50%;
     max-height: 50%;
     margin-right: auto;
     margin-left: auto;
     /* margin-top: -20px; */

 }

 .me {
     border-radius: 50%;
 }

 .story {
     padding-right: 10px;
     padding-left: 10px;
     font-size: 1.2em;
     color: rgb(61, 51, 51);
 }
 @media screen and (max-width: 1238px) {
     .about {
         width: 97%;
         margin-right: auto;
         margin-left: auto;
    
        }
      
    }
    @media screen and (max-width: 991px) {
        
        .about-me {
            padding-top: 30px;
        }
        
        .title {
            text-align: center;
            height: 35px;
            margin-bottom: 20px;
        }
        
        .about {
            
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
        
        .responsive {
            display: flex;
            max-width: 90%;
            max-height: 90%;
            margin-right: auto;
            margin-left: auto;
            margin-top: -20px;
            
        }
       
     .about-me {
        border-left: none;
        
    }
        .worker {
            height: 150px;
            display: flex;
            align-items: center;
        }
        
        @media screen and (max-width: 415px) {
            .about {
                width: 80%;
                margin-right: auto;
                margin-left: auto;
            }
     }

     @media screen and (max-width: 390px) {
         .about {
             width: 95%;
             padding-right: 2px;
             padding-left: 2px;
             margin-right: auto;
             margin-left: auto;
         }
     }

     @media screen and (max-width: 375px) {
         .about {
             width: 80%;
             margin-right: auto;
             margin-left: auto;
         }
     }
 }

 ;