.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    /* z-index: 1; */
}

.linkedIn {
    max-width: 45px;
    margin-bottom: 20px;
}

.github {
    margin-right: 7px;
    max-width: 45px;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
    }
}