.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main-footer {
    height: 200px;
    display: flex;
    align-items: center;
}
.linkedIn {
    max-width: 65px;
    margin-bottom: 20px;
    background-color: rgba(238, 225, 225, 0.515) !important;
    border-radius: 50%;
}

.github {
    margin-right: 7px;
    max-width: 65px;
    margin-bottom: 20px;
    background-color: black !important;
    border-radius: 50%;
}

@media screen and (max-width: 991px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
    }
}