html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.vanta-canvas {
  min-height: 100%;
}
#animation {
  background-image: url("backgrounddark.jpg");
  background: cover;
  background-position: center;
}
/* @media screen and (max-width: 390px) {
  body {
    min-height: 100vh;
  }
}
@media screen and (max-width: 375px) {
  body {
    min-height: 100vh;
  }
} */
