.title {
    text-align: center;
    height: 65px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.card:hover #text {
    opacity: 1;
    padding: 8px;
}

.card:hover img {
    opacity: 0.2;
    padding: 8px;
}

.card-img-overlay:hover {
    background-color: rgba(227, 185, 88, 0.4);
}

.image {
    height: 190px;
    align-self: center;
    width: 100%;
}
.featured-img {
    height: 300px;
    align-self: center;
    width: 450px;
    object-fit: cover;
}

.card {
    width: 300px;
    height: 20px;
    margin: 40px;
    margin-right: auto;
    margin-left: auto;
}
 .featured-card {
    width: 500px;
    height:80px;
    margin: 40px;
    margin-right: auto;
    margin-left: auto; 
} 


@media screen and (max-width: 992px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 414px) {

    .title {
        text-align: center;
        height: 65px;
        margin-top: 50px;
        margin-bottom: -30px;
    }
    .featured-img {
        height: 190px;
        align-self: center;
        width: 100%;
    }
    
     .featured-card {
        width: 300px;
        height: 20px;
        margin: 40px;
        margin-right: auto;
        margin-left: auto;
    } 
}
