.container-resume {
    height: 710px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
}
.featured-title {
    text-align: center;
    margin-bottom: -1%;
}
.title-resume {
    text-align: center;
    height: 65px;
    margin-top: 50px;
    margin-bottom: -30px;
}
.title-fondation {
    margin-bottom: 40px;
    margin-top: 80px;
}
.titles {
    margin: 40px;
}

.resume-link {
    font-size: 1.2em;
    color: rgb(61, 51, 51);
    padding-top: 10px;
    font-style: oblique;
}

p {
    font-size: 1.2em;
    color: rgb(61, 51, 51);
}

/* @media screen and (max-width: 390px) {
    .container-resume {
        height: auto;
        text-align: center;
        padding-bottom: 10px;
        overflow: none;
    }
} */

@media screen and (max-width: 414px) {
    .container-resume {
        height: auto;
        text-align: center;
        padding-bottom: 10px;
    }
    .featured-title {
        text-align: center;
        margin-top: 3%;
        margin-bottom: -6%;
    }
}